<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<p>test-with-overriden-vast</p>

<p>Player:TestIevgenPlayer</p>

<script src="https://cdn-v2.mediagraph.com/video-js/3.0/_adaptivem.js"
        data-player
        data-placement="DmKrF1GTiVBFZFJp"
        data-debug="true">
</script>

</body>
</html>
