<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<p>test-with-no-ads</p>

<p>Player:TestIevgenWithoutAnyAds</p>

<script src="https://cdn-v2.mediagraph.com/video-js/3.0/_adaptivem.js"
        data-player
        data-placement="pxgtllvDLRP49f4r"
        data-debug="true">
</script>

</body>
</html>
