<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<p>test-with-own-ads</p>

<p>Player:TestIevgenWithOwnAd</p>

<script src="https://cdn-v2.mediagraph.com/video-js/3.0/_adaptivem.js"
        data-player
        data-placement="4CIBsJ5nHP8oBuan"
        data-debug="true">
</script>

</body>
</html>
