<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

  <p>work_fine</p>
  <!-- BEGIN ADAPTIVE EMBED CODE -->

  <!-- src="https://cdn-v2.mediagraph.com/video-js/3.0/_adaptivem.js" -->

  <!-- BEGIN ADAPTIVE EMBED CODE -->
  <script src="http://thawing-beach-1647.herokuapp.com/dist/_adaptivem.js"
          data-player
          data-mute="true"
          data-placement="-EZeei-sDQVcFumh"
          data-width="480"
          data-adblock-action="not-play-video"
          data-adblock-message="Please turn off adblock and reload the page for watching this video!"
          data-adbclock-time-before-action="7000">
  </script>
  <!-- END ADAPTIVE EMBED CODE -->

  <!-- END ADAPTIVE EMBED CODE -->

  <!-- sfVGsOoAgNcvwKXk -->
  <!-- 375UW0S63Tv4qC7P -->

  <!-- BEGIN ADAPTIVE EMBED CODE -->
<!--  <script src="https://cdn-v2.mediagraph.com/video-js/3.0/_adaptivem.js"
          data-player
          data-placement="sfVGsOoAgNcvwKXk">
  </script>-->
  <!-- END ADAPTIVE EMBED CODE -->

  </body>
</html>
